
<ion-header>
  <ion-toolbar>
    <ion-title>Prime Showroom</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="gallery">
  <ion-card (click)="passModeldetails(0)">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <img src="assets/Rectangle 1.png" alt="" class="imgs"> 
          </ion-col>
          <ion-col class="detail">
              <ion-card-header>
                <ion-card-title>
                  <div style="font-size:2.1rem;">Model 1</div>
                  <div class="money">₱ 45,000</div>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="details">  
                <div>
                  Pontefino Prime Residences, Batangas City
                </div>
            </ion-card-content>
            <ul class="icons">
              <li><ion-icon name="bed"></ion-icon>x3</li>
              <li><img src="assets/image 7.svg" alt="" class="cion">x3</li>
              <li><ion-icon name="car-sport" class="car"></ion-icon>x1</li> 
            </ul> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="passModeldetails(1)">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <img src="assets/Rectangle 2.png" alt="" class="imgs"> 
          </ion-col>
          <ion-col class="detail">
              <ion-card-header>
                <ion-card-title>
                  <div style="font-size:2.1rem;">Model 2</div>
                  <div class="money">₱ 45,000</div>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="details">  
                <div>
                  Pontefino Prime Residences, Batangas City
                </div>                          
              </ion-card-content>
              <ul class="icons">
                <li><ion-icon name="bed"></ion-icon>x3</li>
                <li><img src="assets/image 7.svg" alt="" class="cion">x3</li>
                <li><ion-icon name="car-sport" class="car"></ion-icon>x1</li> 
              </ul> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card href="homer/contacts">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <img src="assets/Rectangle 3.png" alt="" class="imgs"> 
          </ion-col>
          <ion-col class="detail">
              <ion-card-header>
                <ion-card-title>
                  <div style="font-size:2.1rem;">Model 3</div>
                  <div class="money">₱ 45,000</div>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="details">  
                <div>
                  Pontefino Prime Residences, Batangas City
                </div>                
            </ion-card-content>
            <ul class="icons">
              <li><ion-icon name="bed"></ion-icon>x3</li>
              <li><img src="assets/image 7.svg" alt="" class="cion">x3</li>
              <li><ion-icon name="car-sport" class="car"></ion-icon>x1</li> 
            </ul> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card href="homer/contacts">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <img src="assets/Rectangle 4.png" alt="" class="imgs"> 
          </ion-col>
          <ion-col class="detail">
              <ion-card-header>
                <ion-card-title>
                  <div style="font-size:2.1rem;">Model 4</div>
                  <div class="money">₱ 45,000</div>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="details">  
                <div>
                  Pontefino Prime Residences, Batangas City
                </div>                
            </ion-card-content>
            <ul class="icons">
              <li><ion-icon name="bed"></ion-icon>x3</li>
              <li><img src="assets/image 7.svg" alt="" class="cion">x3</li>
              <li><ion-icon name="car-sport" class="car"></ion-icon>x1</li> 
            </ul> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
