<ion-card class="sige">
  <img src="assets/CU.png" class="pink" />
  <ion-card-header>
    <ion-card-title>{{modelDetails[0].modelName}}</ion-card-title>
    
  </ion-card-header>

  <ion-card-content>
    Pontefino Prime Residences, Batangas City
  </ion-card-content>
</ion-card>

<ion-card class="up">
  <ion-card-header class="UM">
    <ion-card-subtitle>MORE PHOTOS</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="pics">
    <img src="{{modelDetails[0].modelimg1}}" class="bed" />
    <img src="{{modelDetails[0].modelimg2}}" class="bid" />
    <img src="{{modelDetails[0].modelimg3}}" class="sala" />
    <img src="{{modelDetails[0].modelimg4}}" class="eat" />
    <img src="{{modelDetails[0].modelimg5}}" class="laba" />
    <img src="{{modelDetails[0].modelimg6}}" class="hall" />
  </ion-card-content>
</ion-card>