  <ion-card class="sige">
    <img src="assets/orange.png" class="pink" />
    <ion-card-header>
      <ion-card-title>{{ modelDetails.modelName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Pontefino Prime Residences, Batangas City
    </ion-card-content>
  </ion-card>
  <ion-card class="up">
    <ion-card-header class="UM">
      <ion-card-title>MORE PHOTOS</ion-card-title>
    </ion-card-header>
    <ion-card-content class="pics">
      <img src="assets/ab1 (1).png" class="bed" />
      <img src="assets/ab1 (2).png" class="bid" />
      <img src="assets/ab1 (3).png" class="sala" />
      <img src="assets/ab1 (4).png" class="eat" />
      <img src="assets/ab1 (5).png" class="laba" />
      <img src="assets/ab1 (6).png" class="hall" />
    </ion-card-content>
  </ion-card>
