<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="{{modelDetails?.imgModel}}" />
    <ion-card-header>
      <ion-card-title>{{modelDetails?.modelName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Pontefino Prime Residences,Batangas City
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="mmm">MORE PHOTOS</ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
      <ion-col size="6" size-md="4" size-lg="2"><img src="{{modelDetails?.modelimg1}}" class="bed"/></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><img src="{{modelDetails?.modelimg2}}" class="bid"/></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"> <img src="{{modelDetails?.modelimg3}}" class="sala"/></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><img src="{{modelDetails?.modelimg4}}" class="eat"/></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><img src="{{modelDetails?.modelimg5}}" class="laba"/></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><img src="{{modelDetails?.modelimg6}}" class="hall"/></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
  