
ion-content.login{
  --background: url(../../assets/LOGIN.png) no-repeat center top;
}

ion-label {
font-size: larger;
font-weight: bold;
}

ion-input {
outline: none;
text-align: center;
color: #000;
font-size: larger;
font-weight: bold;
border-radius: 15px;
border: 1px solid #000;
background: #FFF; 

}
ion-grid.inp {
  position: absolute;
  top: 55%;
  width: 100%;
  
}
ion-button.logreal {
  width: 12rem;
  font-family: 'League Spartan', sans-serif;
  color: #FFFCFC;
  font-weight: 700;
  word-wrap: break-word;   
  font-size: 1.4rem;
  color: #ffffff;
  --border-radius: 3rem;
  --background: #301B09;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  transition: background-color 0.3s ease;
}

ion-button.logreal:hover {
--background:#000;
}


ion-col.login {
  margin-top: 5% !important;
  margin: auto;
}

ion-button.log {
  width: 12rem;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  word-wrap: break-word;   
  font-size: 1.4rem;
  color: #301B09;
  --border-radius: 3rem;
  --border-top: 2px red;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  transition: background-color 0.3s ease;
  padding-left: 3rem;
  margin: 0 !important;
}

ion-button.logreal {
  padding-right: 3rem;
}