
<ion-content class="home no-scroll">
    <ion-button fill="none" (click)="clickBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-img src="/assets/ekplores.png"></ion-img>
  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>Short Term</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>6 Months</ion-label>
    </ion-segment-button>
  </ion-segment>
    <ion-grid>
      <ion-row class="inp">
        <ion-col size="8.5">
          <ul>
            <li>
                <input type="hidden" id="unik" value="generateRandomId()">
                <ion-input placeholder="Name" name="ngalan" id="name"></ion-input>
              </li>
            <li>
              <ion-input type="email" placeholder="Email"></ion-input> 
            </li>
            <li>
              <ion-input placeholder="Phone Number" type="tel"></ion-input>
            </li>
            <li>
              <ion-input placeholder="Model" name="bahay" id="house"></ion-input>
            </li>
            <li>
              <ion-input placeholder="Move-In-Date" type="date" ></ion-input>
            </li>
            <li>
              <ion-input placeholder="Move-Out-Date" type="date"></ion-input>
            </li>           
          </ul>
          <button class="log">SUBMIT</button>       
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
