<ion-content class="bg no-scroll">
  <div class="bgtop">
     <img src="../assets/paymen.png" alt="" class="hos">
       <div class="title">
        <div>Create Account</div>
      </div> 
  </div>
  <ion-list>
      <ion-item lines="none">
          <ion-input  placeholder=" Last Name" name="bahay" id="lname" type="text"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input  placeholder=" First Name" name="bahay" id="fname" type="text"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input  placeholder=" Middle Name" name="bahay" id="mname" type="text"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-select label="Unit" id="house" required>
          <ion-select-option value="Model 1">Model 1</ion-select-option>
          <ion-select-option value="Model 2">Model 2</ion-select-option>
          <ion-select-option value="Model 3">Model 3</ion-select-option>
          <ion-select-option value="Model 4">Model 4</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <ion-input  placeholder=" Email"  id="email" type="email"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input  placeholder=" Phone Number" name="bahay" id="num" type="Number"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input  placeholder=" Username" name="bahay" id="user" type="text"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input  placeholder=" Password" name="bahay" id="pass" type="Password"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <button (click)="accountSubmit($event)">SUBMIT</button>
      </ion-item>
  </ion-list>
 </ion-content>