<ion-content class="bg no-scroll">
  <div class="bgtop">
     <img src="../assets/paymen.png" alt="" class="hos">
       <div class="title">
        <div>Create Account</div>
      </div> 
  </div>
  <ion-list>
      <ion-item lines="none">
          <ion-input  placeholder=" Name" name="bahay" id="house" type="text"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input  placeholder=" house Unit" name="bahay" id="house" type="text"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input  placeholder=" Date of Payment" name="bahay" id="house" type="text"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input  placeholder=" Mode of Payment" name="bahay" id="house" type="text"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input  placeholder=" Amount" name="bahay" id="house" type="text"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input  placeholder=" Reference Number" name="bahay" id="house" type="text"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <button>SUBMIT</button>
      </ion-item>
  </ion-list>
 </ion-content>