<ion-content class="haha">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="none" (click)="clickBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
  <div class="card-container">
    <div class="card-overlay">
      <ion-icon name="person" class="person"></ion-icon>
    </div>
    <div class="deets">
      <h1 class="nem">Name {{ formDetails?.name }}</h1>
      <p>Unit: {{ formDetails?.unit }}</p>
      <p>Model: {{ formDetails?.ids }}</p>
      <p>Date: {{ formDetails?.date }}</p>  
      <p>Email: {{ formDetails?.email }}</p>  
      <p>Phone Number: {{ formDetails?.pnum }}</p>  
    </div>
    <div>
      <ion-row>    
        <ion-col offset="2">
          <ion-button fill="none" class="log" (cli.ck)="approveIt(formDetails?.ids, 'decline')">Decline</ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="none" class="lag" (click)="approveIt(formDetails?.ids, 'approve')">Approve</ion-button>        
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>



