<ion-content class="haha">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" (click)="clickBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
  <div class="card-container">
    <div class="card-overlay">
      <ion-icon name="person" class="person"></ion-icon>
    </div>
    <div class="deets">
      <p>Name: {{ formDetails?.name }}</p>
      <p>Unit: {{ formDetails?.unit }}</p>
      <p>Ids: {{ formDetails?.ids }}</p>
      <p>Date: {{ formDetails?.date }}</p>  
   </div>      
      <ion-row>
        <ion-col offset="2">
          <ion-button fill="none" class="log">Decline</ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="none" class="lag">Approve</ion-button>
        </ion-col>
      </ion-row>
  </div>
</ion-content>



