<ion-content class="bg no-scroll">
   <div class="bgtop">
      <img src="../assets/head.png" alt=""> 
   </div>
   <div class="cont">
      <img src="../assets/conn.png">  
   </div>
   <ion-grid>
      <ion-row class="inp">
        <ion-col size="8.5">
          <ul>
            <li>
                <ion-input placeholder="Name" name="ngalan" id="name" required></ion-input>
              </li>
            <li>  
              <ion-input type="email" placeholder="Email" id="email" required></ion-input> 
            </li>
            <li>
              <ion-input placeholder="Phone Number" type="tel" id="tel" required></ion-input>
            </li>
            <li>
              <ion-input placeholder="House Unit" name="bahay" id="house" required></ion-input>
            </li>
            <li>
              <ion-textarea placeholder="Comments" type="text" id="comms" required></ion-textarea>
            </li>          
          </ul>
          <button class="log" (click)="emailSubmit($event)">SUBMIT</button>       
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>