img {
  width: 100%;
  height: 40%;
}

.cont {
  width: 60%;
  margin-top: 5%;
  margin-left: 20%;
}
ion-label{
  font-size: larger;
  font-weight: bold;
}

ion-input ,ion-textarea{
  height: 2.6rem;
  outline: none;
  text-align: center;
  color: #000000;
  font-size: larger;
  font-weight: bold;
  border-radius: 4vw;
  border: 1.3px solid #000;
  background: #ffffff;
}

ion-grid.in {
  position: absolute;
  top:30%;
  width: 100%;
}

ion-button {
  margin: auto;
  padding: 3.3px;
  font-family: 'League Spartan', sans-serif;
  color: #FFFCFC;
  font-weight: 700;
  word-wrap: break-word;   
  font-size: 1.5rem;
  color: #ffffff;
  --border-radius: 22px;
  --background: #301B09;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

ion-button.log:hover {
--background:#78C1F3;
}

ion-col {
  padding: 0;
  margin: auto;
}



ul {
  padding-left: 0;
  list-style: none;  
}

li {
  padding: 2%;

}

ion-input, ion-textarea {
  height: 1.6vw; /* Set your desired height here */
  --padding-end:  2%;
  --padding-start: 2%;
  --border-radius: 1rem;
}

.log {
  font-family: 'League Spartan', sans-serif;
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-size: 1.7rem;
  font-style: normal;
  color: #000;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  margin-top: 8%;
  margin-left: 20%;
  width: 15rem;
  height: 4rem;
  flex-shrink: 0; 
  border: 0.7rem solid #301B09 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
}

