<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/orange.png" />
    <ion-card-header>
      <ion-card-title>Model 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Pontefino Prime Residences,Batangas City
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="mmm">MORE PHOTOS</ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="2"><img src="assets/ab1 (1).png" class="bed" /></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><img src="assets/ab1 (2).png" class="bid" /></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"> <img src="assets/ab1 (3).png" class="sala" /></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><img src="assets/ab1 (4).png" class="eat" /></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><img src="assets/ab1 (5).png" class="laba" /></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><img src="assets/ab1 (6).png" class="hall" /></ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
     
    </ion-card-content>
  </ion-card>
</ion-content>
