<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
    <div class="card-container">
    
      <div class="card-overlay">
        <ion-icon name="person" class="person"></ion-icon>
      </div>
      <div class="deets">
        <img src="../assets/john.png" alt="">
      </div>
      <div>
        <ion-row>
          <ion-col offset="2">
            <ion-button fill="none" class="log" >Decline</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="none" class="lag">Approve</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>


</ion-content>

