<ion-header>
  <ion-toolbar>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let formData of formDataList" class="book" [routerLink]="['/reqdetails', formData.ids]">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <img src="assets/image 17.png" alt="" class="imgs">
          </ion-col>
          <ion-col class="detail">
            <ion-card-header>
              <ion-card-title>
                <div style="font-size: 2.1rem;">{{ formData.name }}</div>
                <div class="money">{{ formData.unit }}, {{ formData.date }}</div>
              </ion-card-title>
            </ion-card-header>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
