.info{
font-size: small;
margin-left: 30%;
}

.imgs{
    margin-left: 24%;
    margin-top: 5%;
}

.call{
    margin-right: 15%;
}
.pic{
    margin-right: 15%;
    margin-left: 2%;
}

.name{
    font-size: medium;
    margin-left: 37%;
}

.loc{
    font-size: x-small;
    margin-left: 27%;
}

.pay {
    position: absolute; 
    top: 28%;
    color: rgb(54, 41, 41);
    margin-left: 5%;
    font-size: large;
}
