<ion-header>
  <ion-toolbar>
    <ion-title class="top_title">TRI-LC ENTERPRISES</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content class="gallery">
  <ion-card class="lot">
    <ion-card-content>
      <ion-card-title>
          <div class="info">Admin Information</div>
          <div class="imgs">
            <img src="assets/image 21.png" class="call">
            <img src="assets/Ellipse 1.png" class="pic">
            <img src="assets/image 22.png" class="meg">
          </div>
          <div class="name">Mary Ann</div>
          <div class="loc">Gulod Labac, Batangas City</div>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <div class="pay">Payment History</div>
  <ion-card>
    <ion-card-content>
      Date: | Reference Number: | Amount:
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Date: | Reference Number: | Amount:
    </ion-card-content>
  </ion-card>
  
</ion-content>