<ion-content class="home no-scroll">
  <img src="assets/word.png" class="explore">
  </ion-content>  
  <ion-tabs class="home">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="gallery">
          <ion-icon name="play-circle"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="contacts">
          <ion-icon name="person-circle"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>