ion-content.home {
  --background: url(../../../assets/homebg.png) no-repeat;
  
}


  .explore {
    position: absolute;
    bottom: 37.5%;
  }

  ion-icon:hover {
    color:#000;
  }
  
  ion-icont.active, ion-icon.activated {
    color : red;
  }  
  