<ion-header>
  <ion-toolbar>
    <ion-title>TRI-LC ENTERPRISES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3 class="ion-padding">Property</h3>
  <ion-card class="first">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="assets/p.png">
          </ion-col>
          <ion-col>
            <ion-card-header>
              <ion-card-title>
                <div style="font-size:2.1rem;">BLK. 1 Lot 2</div>
                <div class="slot">Vacant</div>
              </ion-card-title>
            </ion-card-header>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card class="second">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="assets/p.png">
          </ion-col>
          <ion-col>
            <ion-card-header>
              <ion-card-title>
                <div style="font-size:2.1rem;">BLK. 3 Lot 16</div>
                <div class="slot">Occupied</div>
              </ion-card-title>
            </ion-card-header>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <h3 class="tn">Tenant</h3>
    <div>
      <ion-card class="book">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <img src="assets/image 17.png" alt="" class="imgs"> 
              </ion-col>
              <ion-col class="detail">
                  <ion-card-header>
                    <ion-card-title>
                      <div style="font-size:2.1rem;">{{ formDataList[0]!.name }}</div>
                      <div class="money">{{ formDataList[0]!.unit }}, {{ formDataList[0]!.date }}</div>
                    </ion-card-title>
                  </ion-card-header> 
               </ion-col>
              </ion-row>
           </ion-grid>
          </ion-card-content>
        </ion-card>
  </div>
  <div class="tn">
    <span class="start">Request</span>
    <div class="end">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <span><a href="/requests">View All</a></span>
    </div>
  </div>
    <div>
      <ion-card class="book">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <img src="assets/image 17.png" alt="" class="imgs"> 
              </ion-col>
              <ion-col class="detail">
                  <ion-card-header>
                    <ion-card-title>
                      <div style="font-size:2.1rem;">{{ formDataList[0]!.name }}</div>
                      <div class="money">{{ formDataList[0]!.unit }}, {{ formDataList[0]!.date }}</div>
                    </ion-card-title>
                  </ion-card-header> 
               </ion-col>
              </ion-row>
           </ion-grid>
          </ion-card-content>
        </ion-card>  
  </div>
</ion-content>
