.gallery{
    --background:#f2f2f2;
}

img.imgs {
    border-radius: 3px;
}

ion-card-header{
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

ion-card-title.toptitle{
    font-family: 'League Spartan',sans-serif;
    font-weight: bold;
    font-size: large;
    color: rgb(54, 41, 41);
}

.tn{
    color:rgb(54, 41, 41);
    font-size: x-large;
    margin-left: 5%;
    margin-bottom:2%;
}

ion-card-content{
    font-family: 'League Spartan'
}

.money{
    font-size:medium;
}

.slot{
    font-size: large;
}

.second{
    bottom: 2%;
}

.h3{
    bottom:1%;
}
