.gallery{
    --background:#f2f2f2;
}

img.imgs {
    margin-top: 35%;
    border-radius: 3px;
}

ion-card-header{
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

ion-card-title.toptitle{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: large;
    color: rgb(54, 41, 41);
}
ion-toolbar {
    margin-top: 2%;
    --background: #ffffff;
}

ion-title {
    font-family: 'League Spartan', sans-serif;
    text-transform:uppercase;
    font-size: 2.1rem;
    text-align: center;
    color: #352414;

}
.ion-padding {
    font-weight: bold;
    color: #352414;
}

.tn{
    color:#352414;
    font-size: x-large;
    font-weight: bold;
    margin-left: 5%;
    display: flex;
    margin-bottom: 5%;
    justify-content: space-between;
  
    .start {
        order: 1;
    }
    
    .end {        
        text-decoration: none;
        margin-right: 5%;
        font-size: 1.3rem;
        order: 2;
        display: flex;
        align-items: center;
    }
    .end ion-icon {
        margin-right: 0.1rem;
      }
     a {
        color: rgb(54, 41, 41);
        text-decoration: none;
     } 
}

ion-card-content {
    font-family: 'League Spartan'
}

.money {
    font-size: medium;
}

.slot {
    font-size: large;
    font-weight: lighter;
}

.first {
   margin-bottom: 5%;
}



.who {
    color:#352414;
    font-size: x-large;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 1px !important;
}

.book {
    bottom: 15%;
}

.wow {
    color:#352414;
    font-size: x-large;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 5% !important;
}
