.gallery{
    --background:#f2f2f2;
}

img.imgs {
    border-radius: 3px;
}

ion-card-header{
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

ion-card-title.toptitle{
    font-family: 'League Spartan',sans-serif;
    font-weight: bold;
    font-size: large;
    color: rgb(54, 41, 41);
}
ion-toolbar {
    --background: #ffffff;
}

ion-title {
    margin-top: 1rem;
    font-family: 'League Spartan', sans-serif;
    text-transform:uppercase;
    font-size: 2.1rem;
    text-align: center;
    color: #352414;

}

.tn{
    color:rgb(54, 41, 41);
    font-size: x-large;
    margin-left: 5%;
    margin-bottom: 3%; 
    display: flex;
    justify-content: space-between;
  
    .start {
        order: 1;
    }
    
    .end {        
        text-decoration: none;
        margin-right: 3%;
        font-size: 1.3rem;
        order: 2;
        display: flex;
        align-items: center;
    }
    .end ion-icon {
        margin-right: 0.1rem;
      }
     a {
        color: rgb(54, 41, 41);
        text-decoration: none;
     } 
}

ion-card-content{
    font-family: 'League Spartan'
}

.money{
    font-size: medium;
}

.slot{
    font-size: large;
}

.second{
    bottom: 2%;
}

.h3{
    bottom:1%;
}

