<ion-header>
  <ion-toolbar>
    <div class="tn">
      <span class="start"><ion-title>TRI-LC ENTERPRISES</ion-title></span>
      <div class="end">
        <ion-icon name="log-in-outline" (click)="presentAlert()"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="gallery">
  <ion-card class="lot">
    <ion-card-content>
      <ion-card-title>
          <div class="info">Admin Information</div>
          <div class="imgs">
            <img src="assets/image 21.png" class="call">
            <img src="assets/Ellipse 1.png" class="pic">
            <img src="assets/image 22.png" class="meg">
          </div>
          <div class="name">Mary Ann</div>
          <div class="loc">Gulod Labac, Batangas City</div>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <div class="pay">Payment History</div>
  <ion-card *ngFor="let payment of paymentInfos">
    <ion-card-content class="payments">
      Date: {{ payment.date }} | Reference Number: {{ payment.rfn }}  | Amount: ₱{{ payment.amount }}
    </ion-card-content>
  </ion-card>
</ion-content>

